/*------------------------------------------------------------------
[Table of contents]
-------------------------------------------------------------------*/

.sjm_404 {
    margin: 20px 0;

    &_logo {
        text-align: center;
    }

    &_logo_image {
        width: 150px;
    }
}
